<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Plano</title>
</head>
<body>
    <h1>Criar Novo Plano</h1>
    <form action="/plano/salvar" method="post">
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" required><br><br>

        <label for="duracaoEmMeses">Duração (meses):</label>
        <input type="number" id="duracaoEmMeses" name="duracaoEmMeses" required><br><br>

        <label for="aluno">Aluno:</label>
        <select name="alunoId" id="aluno" required>
            <option value="" disabled selected>Selecione o Aluno</option>
            <!-- Exibe os alunos disponíveis -->
            <th:block th:each="aluno : ${alunos}">
                <option th:value="${aluno.pkIdPessoa}" th:text="${aluno.nomePessoa}"></option>
            </th:block>
        </select><br><br>

        <button type="submit">Salvar Plano</button>
    </form>
</body>
</html>
