<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Ficha de Exercício - GymBD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header class="bg-primary text-white p-3">
    <h1 class="text-center">Detalhes da Ficha de Exercício</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">LSFit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/alunos">Alunos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instrutores">Instrutores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerentes">Gerentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unidades">Unidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/maquinas">Maquinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercicios">Exercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fichas">Fichas de Treino</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mt-5">
    <h2>Informações do Aluno</h2>
    <p><strong>Aluno:</strong> <span th:text="${fichaDeExercicio.aluno.nomePessoa}"></span></p>
    <p><strong>Instrutor:</strong> <span th:text="${fichaDeExercicio.instrutor.nomePessoa}"></span></p>

    <h3 class="mt-4">Exercícios da Ficha</h3>
    <ul class="list-group">
        <!-- Itera sobre todos os exercícios da ficha -->
        <li th:each="exercicio : ${fichaDeExercicio.exercicios}" class="list-group-item">
            <h5><strong>Exercício:</strong> <span th:text="${exercicio.nomeExercicio}"></span></h5>
            <p><strong>Séries:</strong> <span th:text="${exercicio.series}"></span></p>
            <p><strong>Repetições:</strong> <span th:text="${exercicio.numeroDeRepeticoes}"></span></p>
            <p><strong>Tempo de Descanso:</strong> <span th:text="${exercicio.tempoDescanso}"></span></p>
        </li>
    </ul>

</main>

<footer class="bg-dark text-white text-center p-3 mt-5">
    <p>&copy; 2024 GymBD. Todos os direitos reservados.</p>
</footer>

</body>
</html>
