<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerentes - GymBD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table-bordered {
            border-radius: 10px;
            overflow: hidden;
        }
        .add-button {
            margin-top: 20px;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">

<header class="bg-primary text-white p-3">
    <h1 class="text-center">Lista de Gerentes</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">LSFit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/alunos">Alunos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/instrutores">Instrutores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gerentes">Gerentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/unidades">Unidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/maquinas">Maquinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercicios">Exercicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fichas">Fichas de Treino</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mt-5 flex-grow-1">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone 1</th>
                    <th>Telefone 2</th>
                    <th>Rua</th>
                    <th>Bairro</th>
                    <th>Número</th>
                    <th>CEP</th>
                    <th>Unidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gerente : ${gerentes}">
                    <td th:text="${gerente.pkIdPessoa}"></td> <!-- ID da Pessoa -->
                    <td th:text="${gerente.nomePessoa}"></td> <!-- Nome -->
                    <td th:text="${gerente.cpfPessoa}"></td> <!-- CPF -->
                    <td th:text="${gerente.telefone1Pessoa}"></td> <!-- Telefone 1 -->
                    <td th:text="${gerente.telefone2Pessoa}"></td> <!-- Telefone 2 -->
                    <td th:text="${gerente.endereco.rua}"></td> <!-- Rua do Endereco -->
                    <td th:text="${gerente.endereco.bairro}"></td> <!-- Bairro do Endereco -->
                    <td th:text="${gerente.endereco.numero}"></td> <!-- Número do Endereco -->
                    <td th:text="${gerente.endereco.cep}"></td> <!-- CEP do Endereco -->
                    <td th:text="${gerente.unidade.bairro}"></td> <!-- Unidade -->
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-danger mr-2 rounded" th:href="@{/gerente/deletar/{id}(id=${gerente.pkIdPessoa})}">Deletar</a>
                            <a class="btn btn-info rounded" th:href="@{/gerente/form/{id}(id=${gerente.pkIdPessoa})}">Atualizar</a>
                        </div>
                    </td>
                </tr>   
            </tbody>
        </table>
    </div>
    <div class="add-button">
        <a class="btn btn-success" href="/gerente/form">Criar Gerente</a>
    </div>
</main>

<footer class="bg-dark text-white text-center p-3 mt-auto">
    <p>&copy; 2024 GymBD. Todos os direitos reservados.</p>
</footer>

</body>
</html>