<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Pessoa</title>
</head>
<body>
    <h1>Cadastro de Pessoa</h1>
    <form action="/pessoas/salvar" method="post">
        <label for="cpfPessoa">CPF:</label>
        <input type="text" id="cpfPessoa" name="cpfPessoa" required><br>

        <label for="nomePessoa">Nome:</label>
        <input type="text" id="nomePessoa" name="nomePessoa" required><br>

        <label for="telefone1Pessoa">Telefone 1:</label>
        <input type="text" id="telefone1Pessoa" name="telefone1Pessoa"><br>

        <label for="telefone2Pessoa">Telefone 2:</label>
        <input type="text" id="telefone2Pessoa" name="telefone2Pessoa"><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
