<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Máquina</title>
</head>
<body>
    <h1>Cadastro de Máquina</h1>
    <form action="/maquina/salvar" method="post">   

        <label for="nomeMaquina">Nome:</label>
        <input type="text" id="nomeMaquina" name="nomeMaquina" required><br>

        <label for="dataManutencao">Data de Manutencao:</label>
        <input type="date" id="dataManutencao" name="dataManutencao"><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
